{{define "banner"}}{{- /*gotype:github.com/playbymail/ottomap/templates/htmx.Banner*/ -}}
<div id="top">
    <p id="skiplinks">Skip to: <a href="#content">content</a> | <a href="#sidebar">sidebar</a></p>
    <div id="sitetitle">
        <h1><a href="/">{{.Title}}</a></h1>
        <p>{{.Slug}}</p>
    </div>
    <hr class="clear" />
</div>
{{end}}