<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="your,keywords,goes,here">
    <meta name="author" content="Your Name">
    <link rel="stylesheet" type="text/css" href="css/daleri-mega.css" title="Daleri Mega" media="screen,projection" />
    <title>ottomap</title>
</head>

<body>
<div id="top">
    <p id="skiplinks">Skip to: <a href="#content">content</a> | <a href="#sidebar">sidebar</a></p>
    <div id="sitetitle">
        <h1><a href="#">Ottomap</a></h1>
        <p>Trying to map to the right thing...</p>
    </div>
    <hr class="clear" />
</div>

<div id="wrap">
    <div id="mainmenu">
        <dl class="nav">
            <dt><a href="#">Main pages</a></dt>
            <dd><a href="#">Blog</a></dd>
            <dd><a href="#">Archives</a></dd>
            <dd><a href="#">Categories</a></dd>
        </dl>
        <dl class="nav">
            <dt><a href="#">Blog topics</a></dt>
            <dd><a href="#">Web design</a></dd>
            <dd><a href="#">Accessibility</a></dd>
            <dd><a href="#">CMS solutions</a></dd>
        </dl>
        <dl class="nav">
            <dt><a href="#">Extras</a></dt>
            <dd><a href="#">Music archive</a></dd>
            <dd><a href="#">Photo gallery</a></dd>
            <dd><a href="#">Poems and lyrics</a></dd>
        </dl>
        <dl class="nav">
            <dt><a href="#">Community</a></dt>
            <dd><a href="#">Guestbook</a></dd>
            <dd><a href="#">Members</a></dd>
            <dd><a href="#">Link collection</a></dd>
        </dl>
        <dl class="introduction">
            <dt><a href="https://github.com/playbymail/ottomap/releases" target="_blank">Releases</a></dt>
            <dd><a href="https://github.com/playbymail/ottomap/releases/tag/v0.13.4" target="_blank">v0.13.4</a></dd>
        </dl>
        <hr class="clear" />
    </div>

    <div id="content">
        <h2><a href="#">Introducing: Ottomap</a></h2>
        <p class="introtext">
            Tribenet turn reports to maps!
        </p>
        <p>
            OttoMap converts your <a href="https://tribenet.wiki" target="_blank">TribeNet</a> turn reports to <a href="https://worldographer.com/" target="_blank">Worldographer</a> maps.
        </p>
        <p>
            It's free and open source, and you can use it to create maps for any game.
        </p>

        <div class="trio1">
            <h3><a href="https://ottomap.playbymail.dev">Render turn reports to maps</a></h3>
            <p>
                Creating a map file is as easy as saving your turn reports as text files and running OttoMap.
                OttoMap automatically processes all the reports in your folder.
                Each map file includes the results from prior turns.
            </p>
        </div>

        <div class="trio2">
            <h3><a href="https://worldographer.com/" target="_blank">Creates Worldographer map files</a></h3>
            <p>
                Worldographer is a great mapping application that runs on Windows, Mac, and Linux.
            </p>
        </div>

        <div class="trio3">
            <h3><a href="https://ottomap.playbymail.dev">Your data is your data</a></h3>
            <p>
                OttoMap comes in two flavors: a command line application and a web server.
            </p>
            <p>
                If you want to run it locally, your data stays on your computer - nothing is shared with anyone.
            </p>
            <p>
                You can run the web server if you want to use this really odd interface, or you can run it in the cloud.
                Either way, your data isn't shared with any other players.
            </p>
            <p>
                You're free to choose where you want to run it where you want to, and you can delete your data at any time.
            </p>
        </div>

        <hr class="clear" />
        <hr/>

        <div class="trio1">
            <h3><a href="https://go.dev" target="_blank">Simple deployment</a></h3>
            <p>
                OttoMap is a Go program that runs in different environments with no external requirements like databases or authentication services.
                It doesn't require complex configuration or installation steps.
            </p>
        </div>

        <div class="trio2">
            <h3><a href="https://github.com/playbymail/ottomap" target="_blank">Open Source</a></h3>
            <p>
                The source code for OttoMap is released under the GNU Affero General Public License and is available on GitHub.
            </p>
        </div>

        <div class="trio3">
            <h3><a href="https://github.com/playbymail/ottomap" target="_blank">Written in Go</a></h3>
            <p>
                OttoMap is written in Go, so it is easy to build and run in different environments. It is a small executable with no external requirements like databases or authentication services.
            </p>
        </div>
        <hr class="clear" />
    </div>

    <div id="sidebar">
        <h2>Your own Mega...</h2>
        <p>Space for presentation, advertisements or extras - or maybe additional navigation links? You decide!</p>

        <div class="left">
            <h2>Left menu</h2>
            <ul class="sidemenu">
                <li><a href="#">First page</a></li>
                <li><a href="#">Second page</a></li>
                <li><a href="#">Third page with subs</a>
                    <ul>
                        <li><a href="#">First subpage</a></li>
                        <li><a href="#">Second subpage</a></li>
                    </ul>
                </li>
                <li><a href="#">Fourth page</a></li>
            </ul>

            <h2>Notice</h2>
            <p>
                You aren't logged in.
                Please use your secret link to log in.
            </p>
            <p>
                If you don't have an account, please visit the Discord server to request an account.
            </p>
        </div>

        <div class="right">
            <h2>Right menu</h2>
            <ul class="sidemenu">
                <li><a href="#">Sixth page</a></li>
                <li><a href="#">Seventh page</a></li>
                <li><a href="#">Another page</a></li>
                <li><a href="#">The last one</a></li>
            </ul>

            <h2>Sample links</h2>
            <ul>
                <li><a href="#">Sample link 1</a></li>
                <li><a href="#">Sample link 2</a></li>
                <li><a href="#">Sample link 3</a></li>
                <li><a href="#">Sample link 4</a></li>
            </ul>
        </div>
        <hr class="clear" />
    </div>
    <hr class="clear" />
</div>

<div id="footer">
    <div class="left">
        <p>&copy; 2024 <a href="#">Michael D Henderson</a> | Template design by <a href="http://andreasviklund.com/">Andreas Viklund</a></p>
    </div>
    <div class="right textright">
        <p>Sample footer menu: <a href="#">Link 1</a> | <a href="#">Link 2</a> | <a href="#">Link 3</a></p>
        <p class="hide"><a href="#top">Return to top</a></p>
    </div>
</div>

</body>
</html>
