*.go           text eol=lf
*.md           text eol=lf
*.sh           text eol=lf
*.txt          text eol=lf
.gitattributes text eol=lf
.gitignore     text eol=lf
COPYING        text eol=lf
LICENSE        text eol=lf
