*~
*.db
*.docx
*.exe
*.pdf
*.png
*.swp
*.tar
*.tgz
*.txt
*.xlsx
*.xml
*.wxx
.DS_Store
.idea/
coverage.html
coverage.out
follows.*.txt
node_modules/
ottomap
package.json
package-lock.json

testdata/
!internal/parsers/ast/testdata
!internal/reports/cst/testdata
!internal/reports/lexers/testdata