<!-- Copyright (c) 2024 Michael D Henderson. All rights reserved. -->
<!-- Component code and styling is © 2024 Tailwind Labs Inc.
     All rights reserved. You are not allowed to use these files outside of this project; you may not copy or distribute them. -->

{{define "content"}}{{- /*gotype:github.com/playbymail/ottomap/cmd/ottoweb/components/app/pages/maps.Content*/ -}}

{{end}}
