<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Page.Title}}</title>
    <script src="/js/htmx-1.9.12.min.js"></script>
</head>
<body>
<h1>Clan {{.Clan}} Home Page</h1>

<h2>Reports</h2>
{{if .NoReports}}
    <p>Please upload your first turn report to get started!</p>
{{else}}
    <table>
        <thead>
        <tr>
            <th>Report</th>
            <th>Status</th>
            <th>Uploaded</th>
        </tr>
        </thead>
        <tbody>
        {{range .Reports}}
            <tr>
                <td><a href="{{.URL}}">{{.Name}}</a></td>
                <td>{{.Status}}</td>
                <td>{{.Created}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>

{{end}}

{{template "upload_ui" .UploadUI}}

</body>
</html>