<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>ottomap</title>

    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/alpinejs-3.14.0.min.js" defer></script>
</head>
<body class="h-full">
<div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="/" class="-m-1.5 p-1.5">
                    <span class="sr-only">OttoMap</span>
                    <img class="h-8 w-auto" src="/img/mark.svg" alt="OttoMap">
                </a>
            </div>
            <div class="flex lg:hidden">
                <button type="button"
                        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="/features" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
                <a href="https://tribenet.wiki" class="text-sm font-semibold leading-6 text-gray-900">TribeNet</a>
                <a href="https://worldographer.com"
                   class="text-sm font-semibold leading-6 text-gray-900">Worldographer</a>
                <a href="https://github.com/playbymail/ottomap" class="text-sm font-semibold leading-6 text-gray-900">GitHub</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a href="/login" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">OttoMap</span>
                        <img class="h-8 w-auto" src="/img/mark.svg" alt="OttoMap">
                    </a>
                    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <a href="/features"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                            <a href="https://tribenet.wiki"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">TribeNet</a>
                            <a href="https://worldographer.com"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Worldographer</a>
                            <a href="https://github.com/playbymail/ottomap"
                               class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">GitHub</a>
                        </div>
                        <div class="py-6">
                            <a href="/login"
                               class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log
                                in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="relative isolate">
            <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]"
                 aria-hidden="true">
                <defs>
                    <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                        <path d="M.5 200V.5H200" fill="none"/>
                    </pattern>
                </defs>
                <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                    <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0"/>
                </svg>
                <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)"/>
            </svg>
            <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
                <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
            </div>

            <div class="overflow-hidden">
                <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
                    <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
                        <div class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
                            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                                OttoMap
                            </h1>
                            <p class="mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
                                OttoMap is a Go program that runs in different environments
                                with no external requirements like databases or authentication services.
                                It doesn't require complex configuration or installation steps.
                            </p>
                            <div class="mt-10 max-w-2xl">
                                <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
                                    <li class="flex gap-x-3">
                                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        <span><strong class="font-semibold text-gray-900">Your data is your data</strong>
                                            <br>
                                            OttoMap can be built and run locally or in the cloud.
                                            If you want to run it locally, your data stays on your computer - nothing is sent to the cloud.
                                            If you run it in the cloud, your data isn't shared with any other players.
                                            You're free to choose where you want to run it and you can delete your data at any time.
                                        </span>
                                    </li>
                                    <li class="flex gap-x-3">
                                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        <span><strong class="font-semibold text-gray-900">Reads your turn reports</strong>
                                            <br>
                                            Creating a map file is as easy as saving your turn reports as text files and running OttoMap.
                                            OttoMap automatically processes all the reports in your folder.
                                            Each map file includes the results from prior turns.
                                        </span>
                                    </li>
                                    <li class="flex gap-x-3">
                                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        <span><strong class="font-semibold text-gray-900">Creates Worldographer map files</strong>
                                            <br>
                                            Worldographer is a great mapping application that runs on Windows, Mac, and Linux.
                                        </span>
                                    </li>
                                    <li class="flex gap-x-3">
                                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        <span><strong class="font-semibold text-gray-900">Open Source</strong>
                                            <br>
                                            The source code for OttoMap is released under the
                                            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>
                                            and is available at
                                            <a href="https://github.com/playbymail/ottomap">GitHub</a>.
                                        </span>
                                    </li>
                                    <li class="flex gap-x-3">
                                        <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                        <span><strong class="font-semibold text-gray-900">Written in Go</strong>
                                            <br>
                                            OttoMap is written in Go, so it is easy to build and run in different environments.
                                            It is a small executable with no external requirements like databases or authentication services.
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>